@import '../styles/_variables';

.ol {
    margin: 0;
}

.nav-item {
    background-color: #f4f4f4;
    display: block;
    list-style-type: none;
}

.nav-item-link {
    color: #000000;
    display: block;
    margin: 1rem 0;
    text-decoration: none;

    p {
        color: #777777;
        font-style: italic;
        font-size: .8rem;
    }
}

.nav-item-link:hover {
    color: $hoverColor;
}
