@import '../styles/_variables';

.nav-item {
    color: $linkColor;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.nav-item:hover {
    color: $hoverColor;
}
.active-nav-item {
    color: $activeLinkColor;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}